body {
    font-family: "Georgia", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}
header {
    background-color: #557656;
    color: white;
    padding: 1em 0;
}
header h1 {
    margin: 0;
    font-size: 30px;
}
main {
    padding: 0em;
}
section {
    margin: 2em 0;
}
h2 {
    color: #65987f;
    margin: .5em 0;
    font-size: 18px;
}
.list {
    text-align: left;
}
.button {
    background-color: #557656;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 2em 0;
}
.button:hover {
    background-color: #557656;
    margin: 2em 0;
}
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    margin-top: 2em;
}

/* navigation bar */
.navigation {
	background-color: #557656;
	position: relative;}
.navigation ul {
	list-style-type: none;
	background: #729973;}
.navigation > ul > li {
	display: inline-block;
	font-family: "Georgia", serif;
	font-weight: normal;
	text-align: center;
	position: relative;}
.navigation li a {
	color: #ffffff;
	display: block;
	font-size: 18px;
	padding: .7em;
	text-decoration: none;}